{
  "prettier.tabWidth": 2,
  "prettier.printWidth": 80,
  "prettier.singleQuote": true,
  "prettier.jsxSingleQuote": true,
  "files.autoSave": "onFocusChange",
  "editor.fontSize": 16,
  "editor.wordWrap": "on",
  "editor.formatOnSave": true,
  "editor.defaultFormatter": "esbenp.prettier-vscode"
}
